<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>QuickFix - AdminPanel - Osiedle</title>
	
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	
	<!--  <div th:replace="fragments/header :: header-css"/>  -->
	<link th:include="fragments/header :: header-css" th:remove="tag"/>

	<link rel="stylesheet" type="text/css" th:href="@{/css/estateList.css}" href="../../css/estateList.css" />

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

</head>
<body>
	
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container-fluid">
		<div class="row">
		
		
			<div th:replace="fragments/header :: sidebar"></div>
			
			
        	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-4 col-sm-10">
        		<h1>Osiedla</h1>
        		
        		<div class="d-flex align-items-start flex-column">
        			
        			<a class="btn btn-outline-primary btn-lg mt-2 mb-3" th:href="@{/estates/add}">Dodaj osiedle</a>
        		
	        		<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Elementów na stronie</button>
				    <div class="dropdown-menu">
				    	<a class="dropdown-item" th:href="@{ /estates(size=5, page=1) }" th:classappend="${ estatePage.size == 5 } ? active">5</a>
				    	<a class="dropdown-item" th:href="@{ /estates(size=10, page=1) }" th:classappend="${ estatePage.size == 10 } ? active">10</a>
				    	<a class="dropdown-item" th:href="@{ /estates(size=25, page=1) }" th:classappend="${ estatePage.size == 25 } ? active">25</a>
				    </div>
        		
        		</div>
        		
        		
        		 <!-- Place for messages: error, alert etc ... -->
				    <div class="form-group">
				        <div class="col-xs-15">
				            <div>
							
								<!-- Check for registration error -->
								<div th:if="${error}" class="alert alert-danger col-xs-offset-1 col-xs-10 mt-4"
									th:text=${error} >error
								</div>
								
								<div th:if="${param.wrongId}" class="alert alert-danger col-xs-offset-1 col-xs-10 mt-4">
									Błędne id osiedla.
								</div>
								
								<div th:if="${param.addSuccess}"class="alert alert-success col-xs-offset-1 col-xs-10 mt-4">
									Osiedle zostało dodane.
								</div>
								
								<div th:if="${param.editSuccess}"class="alert alert-success col-xs-offset-1 col-xs-10 mt-4">
									Dane osiedla zostały pomyślnie zmienione.
								</div>
																										
				            </div>
				        </div>
				    </div>
        		
        		<div class="table-responsive">
        		
        			<table class="table table-bordered table-striped">
	        			<thead class="thead-dark">
	        				<tr>
	        					<th>#</th>
	        					<th>Nazwa</th>
	        					<th>Liczba ulic</th>
	        					<th>Liczba obsługujących fachowców</th>
	        					<th>Liczba przypisanych klientów</th>
	        					<th>Akcje</th>
	        				</tr>
	        			</thead>
	        			<tbody>
	        				<tr th:if="${#lists.isEmpty(estatePage.content)} ">
	        					<td colspan="6">Brak danych.</td>
	        				</tr>
	        				<tr th:each="estate, iStat : ${estatePage.content}">
	        					<td><span th:text="${iStat.index + 1}"></span></td>
	        					<td><span th:text="${estate.name}"></span></td>
	        					<td><span th:text="${ #sets.size(estate.streets) }"></span></td>
	        					<td><span th:text="${ #sets.size(estate.experts) }"></span></td>
	        					<td><span th:text="${ #sets.size(estate.users) }"></span></td>
	        					<td>
	        						<a th:href="@{'/estates/details/' + ${estate.id}}"
	        							class="btn btn-primary btn-sm details-button mr-2">Pokaż szczegóły</a>
	        						
	        						<a th:href="@{'/estates/edit/' + ${estate.id}}"
	        							class="btn btn-info btn-sm mr-2">Edytuj</a>
	        							
	        						<a th:href="@{'/estates/addStreet/' + ${estate.id}}"
	        							class="btn btn-success btn-sm mr-2">Dodaj ulice</a>
	        						
	        						<button th:data-href="@{'/estates/delete/' + ${estate.id}}"
	        							class="btn btn-danger btn-sm delete-button">Usuń</button>
	        					</td>
	        				</tr>
	        			</tbody>
        			</table>
        		
        		</div>
        		
        		
        		<div th:if="${ estatePage.totalPages > 0 }">
					<div class="d-inline-flex page-navigation">
						<a th:href="@{ /estates(size=${ estatePage.size }, page=${ pageNumbers.get(0) }) }"
								th:text="'<<'" class="btn btn-outline-success btn-sm page-button page-navigation-buttons"></a>
						
						<a th:href="@{ /estates(size=${ estatePage.size }, page=${ estatePage.number }) }"
								th:text="'<'" class="btn btn-outline-success btn-sm page-button page-navigation-buttons"
								th:classappend="${ estatePage.number == 0 } ? disabled"></a>
						
						<div th:each="pageNumber : ${ pageNumbers }">
							<a th:href="@{ /estates(size=${ estatePage.size }, page=${ pageNumber }) }"
								th:text="${ pageNumber }"
								th:classappend="${ pageNumber == estatePage.number + 1 } ? active" class="btn btn-outline-success btn-sm page-button page-navigation-buttons"></a>
						</div>
						
						<a th:href="@{ /estates(size=${ estatePage.size }, page=${ estatePage.number + 2 }) }"
								th:text="'>'" class="btn btn-outline-success btn-sm page-button page-navigation-buttons"
								th:classappend="${ estatePage.number == estatePage.totalPages - 1 } ? disabled"></a>
					
						<a th:href="@{ /estates(size=${ estatePage.size }, page=${ pageNumbers.get(pageNumbers.size() - 1) }) }"
								th:text="'>>'" class="btn btn-outline-success btn-sm page-navigation-buttons"></a>
					
					</div>
				</div>
        		
        		
        		<div th:replace="fragments/footer :: footer"></div>
        	</main>
			
		
		</div>
	</div>

	<script th:src="@{/js/estateActions.js}"></script>
	
	 <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

</body>
</html>