<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>QuickFix - Rejestracja użytkownika</title>
	
	<link th:include="fragments/header :: header-css" th:remove="tag"/>
	
	<link rel="stylesheet" th:href="@{/css/user-registration.css}" href="../../css/user-registration.css" />
	
</head>
<body>
	<!-- Registration Form -->
	<form th:action="@{/register/processRegistrationForm}" 
		  	   th:object="${user}" method="POST"
		  	   class="form-signin">
		  	   
		<div class="text-center mb-4">
			<h1 class="h3 mb-3 font-weight-normal">Rejestracja</h1>
		</div>

	    <!-- Place for messages: error, alert etc ... -->
	    <div class="form-group">
	        <div class="col-xs-15">
	            <div>
				
					<!-- Check for registration error -->
					<div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
						${registrationError}
					</div>
																							
	            </div>
	        </div>
	    </div>

		<!-- User name -->
		<div class="form-label-group">
			<input id="inputUserName" type="text" th:field="*{userName}" placeholder="Nazwa użytkownika (*)" class="form-control" th:errorclass="fieldError" autofocus/>
			<label for="inputUserName">Nazwa użytkownika</label>
		</div>

		<div class="form-label-group text-danger" th:if="${#fields.hasErrors('userName')}">
			<ul>
			  <li th:each="err : ${#fields.errors('userName')}" th:text="'User name ' + ${err}" />
			</ul>						
		</div>
		

		<!-- Password -->
		<div class="form-label-group">
			<input id="inputPassword" type="password" th:field="*{password}" placeholder="Hasło (*)" class="form-control" th:errorclass="fieldError" />
			<label for="inputPassword">Hasło</label>
		</div>
		<div class="form-label-group text-danger" th:if="${#fields.hasErrors('password')}">
			<ul>
			  <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />
			</ul>						
		</div>
		
		<!-- Confirm Password -->
		<div class="form-label-group">
			<input id="inputPasswordConfirmation" type="password" th:field="*{matchingPassword}" placeholder="Potwierdź hasło (*)" class="form-control" th:errorclass="fieldError" />
			<label for="inputPasswordConfirmation">Potwierdź hasło</label>
		</div>
		<div class="form-label-group text-danger" th:if="${#fields.hasErrors('matchingPassword')}">
			<ul>
			  <li th:each="err : ${#fields.errors('matchingPassword')}" th:text="'Password ' + ${err}" />
			</ul>						
		</div>
	
		
		<!-- First name -->
		<div class="form-label-group">
			<input id="inputFirstName" type="text" th:field="*{firstName}" placeholder="Imię (*)" class="form-control" th:errorclass="fieldError" />
			<label for="inputFirstName">Imię</label>
		</div>
		<div class="form-label-group text-danger" th:if="${#fields.hasErrors('firstName')}">
			<ul>
			  <li th:each="err : ${#fields.errors('firstName')}" th:text="'First name ' + ${err}" />
			</ul>						
		</div>
		
		<!-- Last name -->
		<div class="form-label-group">
			<input id="inputLastName" type="text" th:field="*{lastName}" placeholder="Nazwisko (*)" class="form-control" th:errorclass="fieldError" />
			<label for="inputLastName">Nazwisko</label>
		</div>
		<div class="form-label-group text-danger" th:if="${#fields.hasErrors('lastName')}">
			<ul>
			  <li th:each="err : ${#fields.errors('lastName')}" th:text="'Last name ' + ${err}" />
			</ul>						
		</div>
		
		<!-- Email -->
		<div class="form-label-group">
			<input id="inputEmail" type="text" th:field="*{email}" placeholder="Email (*)" class="form-control" th:errorclass="fieldError" />
			<label for="inputEmail">Email</label>
		</div>
		<div class="form-label-group text-danger" th:if="${#fields.hasErrors('email')}">
			<ul>
			  <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
			</ul>						
		</div>
		
		<div class="checkbox mb-3">
	    	<label>
	      	<input type="checkbox" value="rodo" required> Potwierdzam regulamin i politykę prywatności
	    	</label>
	  	</div>
		
		<div class="form-label-group">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Zarejestruj</button>
		</div>
		
		<div>
			<a th:href="@{/}" role="button">Powrót do strony głównej</a>
		</div>
		
		<p class="mt-5 mb-3 text-muted text-center">&copy; 2019 Michał Kubara</p>
	</form>

</body>
</html>