<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<div th:fragment="header-css">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
	
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../../css/main.css" />
	</div>
	
</head>
<body>
	<div th:fragment="header">
		
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
		    <a class="navbar-brand" th:href="@{/}">QuickFix - Admin Panel</a>
		    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		
		    <div class="navbar-collapse collapse" id="navbarColor01">   
		      
		      <ul class="navbar-nav ml-auto">
					
					 <li class="nav-item dropdown d-sm-block d-md-none">
		                <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                  Menu panelu
		                </a>
		                <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
		                    <a class="dropdown-item activeChanger" th:href="@{/}">
		                    	<span data-feather="home"></span>
		                    	Dashboard
		                    </a>
		                    <a class="dropdown-item activeChanger" th:href="@{/admins}">
		                    	<span data-feather="terminal"></span>
		                    	Administratorzy
		                    </a>
		                    <a class="dropdown-item activeChanger" th:href="@{/experts}">
		                    	<span data-feather="users"></span>
		                    	Fachowcy
		                    </a>
		                    <a class="dropdown-item activeChanger" th:href="@{/users}">
		                    	<span data-feather="shopping-cart"></span>
		                    	Klienci
		                    </a>
		                    <a class="dropdown-item activeChanger" th:href="@{/estates}">
		                    	<span data-feather="layers"></span>
		                    	Osiedla
		                    </a>
		                    <a class="dropdown-item activeChanger" th:href="@{/events}">
		                    	<span data-feather="calendar"></span>
		                    	Wydarzenia
		                    </a>
		                </div>
		            </li>
		            
		            <li class="add-margin-right navbar-text" sec:authorize="isAuthenticated()">
				  		Zalogowano jako <span sec:authentication="name"></span>
					</li>
						  
				  	<li class="nav-item" sec:authorize="!isAuthenticated()">
				  		<a class="nav-link btn btn-outline-success my-2 my-sm-0" th:href="@{/showLoginPage}">Logowanie</a>
				  	</li>
				  	
				  	<li class="add-margin-right nav-item" sec:authorize="isAuthenticated()">
				  		<a class="nav-link btn btn-outline-success my-2 my-sm-0" th:href="@{/myAccount}">Moje konto</a>
				  	</li>
				  	
				  	<li class="nav-item" sec:authorize="isAuthenticated()">
				  		<form th:action="@{/logout}" method="POST">
				  			<input class="nav-link btn btn-outline-success my-2 my-sm-0" type="submit" value="Wyloguj"/>
				  		</form>
				  	</li>
			  	
			  </ul>
			  
		    </div>
		  </nav>
		  
	</div>
	
	<div th:fragment="sidebar">
		 <nav class="col-md-2 col-sm-2 d-none d-md-block bg-light sidebar mt-1">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link activeChanger" th:href="@{/}">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link activeChanger" th:href="@{/admins}">
                  <span data-feather="terminal"></span>
                  Administratorzy
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link activeChanger" th:href="@{/experts}">
                  <span data-feather="users"></span>
                  Fachowcy
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link activeChanger" th:href="@{/users}">
                  <span data-feather="shopping-cart"></span>
                  Klienci
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link activeChanger" th:href="@{/estates}">
                  <span data-feather="layers"></span>
                  Osiedla
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link activeChanger" th:href="@{/events}">
                  <span data-feather="calendar"></span>
                  Wydarzenia
                </a>
              </li>
            </ul>
            
          </div>
        </nav>
		
	</div>
	
	
</body>
</html>