<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<div th:fragment="header-css">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
	
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
		<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
	</div>
	
</head>
<body>
	<div th:fragment="header">
		<!--  
		<nav class="navbar navbar-dark bg-dark">
				<a class="navbar-brand" th:href="@{/}">Brand</a>
				<div id="navbar" class="collapse navbar-collapse">
	                <ul class="nav navbar-nav">
	                    <li class="active"><a th:href="@{/}">Home</a></li>
	                    <li class="active"><a th:href="@{/about}">About</a></li>
	                </ul>
				</div>
		</nav>
		-->
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		    <a class="navbar-brand" th:href="@{/}">QuickFix</a>
		    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		
		    <div class="navbar-collapse collapse" id="navbarColor01" style="">
		      <ul class="navbar-nav mr-auto">
		        <li class="nav-item">
		          <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" th:href="@{/search}">Znajdź fachowca</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" th:href="@{/expert}">Dla fachowców</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" th:href="@{/about}">O nas</a>
		        </li>
		      </ul>
		      
		      
		      
		      <ul class="navbar-nav ml-auto">
			  		<li id="loggedAs" class="navbar-text" sec:authorize="isAuthenticated()">
				  		Zalogowano jako <span sec:authentication="name"></span>
					</li>
				  
					<li id="register" class="nav-item" sec:authorize="!isAuthenticated()">
			  			<a class="nav-link btn btn-outline-success my-2 my-sm-0" th:href="@{/register/showRegisterPage}">Rejestracja</a>
			  		</li>
				  
				  	<li class="nav-item" sec:authorize="!isAuthenticated()">
				  		<a class="nav-link btn btn-outline-success my-2 my-sm-0" th:href="@{/showLoginPage}">Logowanie</a>
				  	</li>
				  	<li class="nav-item" sec:authorize="isAuthenticated()">
				  		<form th:action="@{/logout}" method="POST">
				  			<input class="nav-link btn btn-outline-success my-2 my-sm-0" type="submit" value="Wyloguj"/>
				  		</form>
<!-- 				  		<a class="nav-link btn btn-outline-success my-2 my-sm-0" th:href="@{/logout}">Wyloguj</a> -->
				  	</li>
			  	
			  	<!-- dodac link do moje konto -->
			  </ul>
			  
		    </div>
		  </nav>
		  
	</div>
	
	
</body>
</html>