<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>QuickFix - Błąd</title>
	<link th:include="fragments/header :: header-css" th:remove="tag"/>
</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<h1 th:text="${message}">Error Message</h1>
	
		<a th:href="@{/register/showRegisterPage}">Zarejestruj się</a>
		
		<div th:if="${expired}">
			<h1 th:text="#{label.form.resendRegistrationToken}">resend</h1>
			<button onclick="resendToken()">Wyślij link</button>
			
			<script th:inline="javascript">
		 
		var serverContext = /*[[@{/}]]*/;
		var token = /*[[${param.token}]]*/;
		 
		function resendToken() {
		    $.get(serverContext + "register/resendRegistrationToken?token=" +  token,
		      function(data){
		            window.location.href = 
		              serverContext +"showLoginPage?message=" + data.message;
		    })
		    .fail(function(data) {
		        if(data.responseJSON.error.indexOf("MailError") > -1) {
		            window.location.href = serverContext + "emailError.html";
		        }
		        else {
		            window.location.href = 
		              serverContext + "showLoginPage?message=" + data.responseJSON.message;
		        }
		    });
		}
	</script>
		</div>
	</div>

	
	
	
	<div th:replace="fragments/footer :: footer"></div>
	
<!-- 	<div th:if="${expired}"> -->
		
	
<!-- 	</div> -->

</body>
</html>