<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>QuickFix - Odzyskiwanie hasła</title>
	<link th:include="fragments/header :: header-css" th:remove="tag"/>
	
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	
	<link rel="stylesheet" th:href="@{/css/forgotPassword.css}" href="../../css/forgotPassword.css" />
</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<div id="mainContainer" class="container">
			<h1>Odzyskiwanie hasła</h1>
		
			<div class="form-group">
    			<label for="inputEmail">Email</label>
    			<input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Podaj email">
    			<small id="emailHelp" class="form-text text-muted">Na podany adres email wyślemy link do odzyskania hasła.</small>
  			</div>
  			
  			<button class="btn btn-primary btn-lg" onclick="resetPassword()">Odzyskaj hasło</button>
			
			<script th:inline="javascript">
		 
				var serverContext = /*[[@{/}]]*/;
				 
				function resetPassword() {
					let email = $("#inputEmail").val();
					
					let token = $("meta[name='_csrf']").attr("content");
		  			 let header = $("meta[name='_csrf_header']").attr("content");
					
				    $.post({
				    	url: serverContext + "user/resetPassword",
				    	data: {email: email},
				    	success:  function(data){
				            		window.location.href = 
					              		serverContext +"showLoginPage?message=" + data.message;
					    		},
					    headers: {
		  		  			[header]: token
		  		  		}
				    })
				    .fail(function(data) {
				        if(data.responseJSON.error.indexOf("MailError") > -1) {
				            //window.location.href = serverContext + "emailError.html";
				        	window.location.href = serverContext + "error";
				        } else if(data.responseJSON.error) {
				        	window.location.href = serverContext + "error";
				        } else {
				            window.location.href = 
				              serverContext + "showLoginPage?message=" + data.responseJSON.message;
				        }
				    });
				}
			</script>
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>