<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>QuickFix - Logowanie</title>
	
	<link th:include="fragments/header :: header-css" th:remove="tag"/>
	
	<link rel="stylesheet" th:href="@{/css/login-page.css}" href="../../css/login-page.css" />
</head>
<body>

	 <form th:action="@{/authenticateTheUser}" method="POST" class="form-signin">
	 	<div class="text-center mb-4">
	    	<h1 class="h3 mb-3 font-weight-normal">Logowanie</h1>
	    </div>
	    
	    <div class="form-group">
	        <div class="col-xs-15">
	            <div>
				
					<!-- Check for login error -->																	
					<div th:if="${param.error}" class="alert alert-danger col-xs-offset-1 col-xs-10">
						Niepoprawna nazwa użytkownika lub hasło.
					</div>

					<!-- Check for logout -->
					<div th:if="${param.logout}"class="alert alert-success col-xs-offset-1 col-xs-10">
						Wylogowano pomyślnie
					</div>
					
	            </div>
	        </div>
	    </div>
	
	 	<div class="form-label-group">
	    	<input type="text" id="inputUserName" name="username" class="form-control" placeholder="Nazwa użytkownika" required autofocus>
	    	<label for="inputUserName">Nazwa użytkownika</label>
	  	</div>
	
	 	<div class="form-label-group">
	    	<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Hasło" required>
	    	<label for="inputPassword">Hasło</label>
	  	</div>
	
	  	<div class="checkbox mb-3">
	    	<label>
	      	<input type="checkbox" value="remember-me"> Zapamiętaj mnie
	    	</label>
	  	</div>
	  	
	  	<div class="form-label-group">
	  		<button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
	  	</div>
	  	
	  	<div class="form-label-group">
			<a th:href="@{/register/showRegisterPage}" role="button" aria-pressed="true">Nie masz konta? Zarejestruj się</a>
		</div>
		
		<div>
			<a th:href="@{/}" role="button">Powrót do strony głównej</a>
		</div>
  	
	  	<p class="mt-5 mb-3 text-muted text-center">&copy; 2019 Michał Kubara</p>
	</form>


</body>
</html>