<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<title>QuickFix - Odzyskiwanie hasła</title>
	<link th:include="fragments/header :: header-css" th:remove="tag"/>
	
	<link rel="stylesheet" th:href="@{/css/setNewPassword.css}" href="../../css/setNewPassword.css" />
</head>
<body>

	<div id="mainContainer" class="container" sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
			
		<form id="passwordForm" th:action="@{/user/savePassword}" 
	  	   th:object="${passwordChange}" th:method="POST"
	  	   class="form-signin" novalidate
	  	   th:classappend="${ not #ctx.containsVariable('passValidated') } ? was-validated : needs-validation">
	  	   
			<div class="text-center mb-4 mt-4">
				<h1 class="h3 mb-3 font-weight-normal">Zmiana hasła</h1>
			</div>
	
		    <!-- Place for messages: error, alert etc ... -->
		    <div class="form-group">
		        <div class="col-xs-15">
		            <div>
					
						<div th:if="${passwordChangeError}" class="alert alert-danger col-xs-offset-1 col-xs-10"
							th:text=${passwordChangeError} >error
						</div>
						
						<div th:if="${param.passwordChangeSuccess}"class="alert alert-success col-xs-offset-1 col-xs-10">
							Hasło zostało zmienione pomyślnie.
						</div>
																								
		            </div>
		        </div>
		    </div>
		    
		    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
	
			<!-- Password -->
			<div class="form-group row">
				<label for="inputPassword" class="col-sm-2 col-form-label">Hasło (*)</label>
				<div class="col-sm-10">
					<input id="inputPassword" type="password" th:field="*{password}" placeholder="Hasło (*)" 
						class="form-control" required 
						th:classappend="${ #fields.hasErrors('password') } ? is-invalid : (${ not #ctx.containsVariable('passValidated') } ? is-valid)"/>
					
					<div class="invalid-feedback">
						<div th:if="${ not #fields.hasErrors('password')  }">
							<p>Wymagane</p>
						</div>
						<p th:each="err : ${#fields.errors('password')}" th:text="${err}"><p/>
				</div>
				</div>
			</div>
			
			<!-- Confirm Password -->
			<div class="form-group row">
				<label for="inputPasswordConfirmation" class="col-sm-2 col-form-label">Potwierdź hasło (*)</label>
				<div class="col-sm-10">
					<input id="inputPasswordConfirmation" type="password" th:field="*{matchingPassword}" placeholder="Potwierdź hasło (*)" 
						class="form-control" required
						th:classappend="${ #fields.hasErrors('matchingPassword')} ? is-invalid : (${ not #ctx.containsVariable('passValidated') } ? is-valid)"/>
					<div class="invalid-feedback">
						<div th:if="${ not #fields.hasErrors('matchingPassword')  }">
							<p>Wymagane</p>
						</div>
						<p th:each="err : ${#fields.errors('matchingPassword')}" th:text="${err}"><p/>
					</div>
				</div>
			</div>
				
				
			<div class="form-group row">
			    <div class="col-sm-10">
			      	<button class="btn btn-lg btn-primary" type="submit">Zastosuj</button>
			    </div>
			</div>
	
		</form>
			
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>

	<script th:src="@{/js/setNewPassword.js}"></script>

</body>
</html>