<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>QuickFix - AdminPanel - Dodaj fachowca</title>
	
	<!--  <div th:replace="fragments/header :: header-css"/>  -->
	<link th:include="fragments/header :: header-css" th:remove="tag"/>

	<link rel="stylesheet" type="text/css" th:href="@{/css/addExpert.css}" href="../../css/addExpert.css" />

</head>
<body>
	
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container-fluid">
		<div class="row">
		
		
			<div th:replace="fragments/header :: sidebar"></div>
			
			
        	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-4 col-sm-10">
        		<h1>Dodaj fachowca</h1>
        		
        	
        		<form id="mainForm" th:action="@{/experts/add}" 
					  	   th:object="${expert}" th:method="POST"
					  	   class="form-signin" novalidate
					  	   th:classappend="${ not #ctx.containsVariable('validated') } ? was-validated : needs-validation">	
					
			
				    <!-- Place for messages: error, alert etc ... -->
				    <div class="form-group">
				        <div class="col-xs-15">
				            <div>
							
								<!-- Check for registration error -->
								<div th:if="${editError}" class="alert alert-danger col-xs-offset-1 col-xs-10"
									th:text=${editError} >error
								</div>
								
								<div th:if="${param.editSuccess}"class="alert alert-success col-xs-offset-1 col-xs-10">
									Dane zostały zmienione pomyślnie.
								</div>
																										
				            </div>
				        </div>
				    </div>
				    
				    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			
					<!-- User name -->
					<div class="form-group row">
						<label for="inputUserName" class="col-sm-2 col-form-label">Nazwa użytkownika (*)</label>
						<div class="col-sm-6">
							<input id="inputUserName" type="text" th:field="*{userName}" placeholder="Nazwa użytkownika (*)" 
								class="form-control" autofocus required
								th:classappend="${ #fields.hasErrors('userName') } ? is-invalid : (${ not #ctx.containsVariable('validated') } ? is-valid)"/>
							<div class="invalid-feedback">
								<div th:if="${ not #fields.hasErrors('userName')  }">
									<p>Wymagane</p>
								</div>
								<p th:each="err : ${#fields.errors('userName')}" th:text="${err}"><p/>
							</div>
						</div>
					</div>	
					
					<!-- First name -->
					<div class="form-group row">
						<label for="inputFirstName" class="col-sm-2 col-form-label">Imię (*)</label>
						<div class="col-sm-6">
							<input id="inputFirstName" type="text" th:field="*{firstName}" placeholder="Imię (*)" 
								class="form-control" required
								th:classappend="${ #fields.hasErrors('firstName')} ? is-invalid : (${ not #ctx.containsVariable('validated') } ? is-valid)"/>
							<div class="invalid-feedback">
								<div th:if="${ not #fields.hasErrors('firstName')  }">
									<p>Wymagane</p>
								</div>
								<p th:each="err : ${#fields.errors('firstName')}" th:text="${err}"><p/>
							</div>
						</div>
					</div>
					
					<!-- Last name -->
					<div class="form-group row">
						<label for="inputLastName" class="col-sm-2 col-form-label">Nazwisko (*)</label>
						<div class="col-sm-6">
							<input id="inputLastName" type="text" th:field="*{lastName}" 
								placeholder="Nazwisko (*)" class="form-control" required
								th:classappend="${ #fields.hasErrors('lastName')} ? is-invalid : (${ not #ctx.containsVariable('validated') } ? is-valid)" />
							<div class="invalid-feedback">
								<div th:if="${ not #fields.hasErrors('lastName')  }">
									<p>Wymagane</p>
								</div>
								<p th:each="err : ${#fields.errors('lastName')}" th:text="${err}"><p/>
							</div>
						</div>
					</div>
					
					
					<!-- Email -->
					<div class="form-group row">
						<label for="inputEmail" class="col-sm-2 col-form-label">Email (*)</label>
						<div class="col-sm-6">
							<input id="inputEmail" type="text" th:field="*{email}" 
								placeholder="Email (*)" class="form-control" required 
								th:classappend="${ #fields.hasErrors('email')} ? is-invalid : (${ not #ctx.containsVariable('validated') } ? is-valid)"
								pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" 
								/>
							<div class="invalid-feedback">
								<div th:if="${ not #fields.hasErrors('email')  }">
									<p>Wymagane</p>
								</div>
								<p th:each="err : ${#fields.errors('email')}" th:text="${err}"><p/>
							</div>
						</div>
					</div>
					
					<!-- Password -->
					<div class="form-group row">
						<label for="inputPassword" class="col-sm-2 col-form-label">Hasło (*)</label>
						<div class="col-sm-6">
							<input id="inputPassword" type="password" th:field="*{password}" placeholder="Hasło (*)" 
								class="form-control" required 
								th:classappend="${ #fields.hasErrors('password') } ? is-invalid : (${ not #ctx.containsVariable('validated') } ? is-valid)"/>
							
							<div class="invalid-feedback">
								<div th:if="${ not #fields.hasErrors('password')  }">
									<p>Wymagane</p>
								</div>
								<div th:each="err : ${#fields.errors('password')}">
									<div th:each="msg : ${ #strings.arraySplit(err, '|;|') }">
										<p th:text="${msg}"></p>
									</div>
								</div>
						</div>
						</div>
					</div>
					
					<!-- Confirm Password -->
					<div class="form-group row">
						<label for="inputPasswordConfirmation" class="col-sm-2 col-form-label">Potwierdź hasło (*)</label>
						<div class="col-sm-6">
							<input id="inputPasswordConfirmation" type="password" th:field="*{matchingPassword}" placeholder="Potwierdź hasło (*)" 
								class="form-control" required
								th:classappend="${ #fields.hasErrors('matchingPassword')} ? is-invalid : (${ not #ctx.containsVariable('validated') } ? is-valid)"/>
							<div class="invalid-feedback">
								<div th:if="${ not #fields.hasErrors('matchingPassword')  }">
									<p>Wymagane</p>
								</div>
								<p th:each="err : ${#fields.errors('matchingPassword')}" th:text="${err}"><p/>
							</div>
						</div>
					</div>
					
					<!-- city -->
					<div class="form-group row">
						<label for="inputCity" class="col-sm-2 col-form-label">Miasto (*)</label>
						<div class="col-sm-6">
							<input id="inputCity" type="text" th:field="*{city}" 
								placeholder="Miasto (*)" class="form-control" required
								th:classappend="${ #fields.hasErrors('city')} ? is-invalid : (${ not #ctx.containsVariable('validated') } ? is-valid)" />
							<div class="invalid-feedback">
								<div th:if="${ not #fields.hasErrors('city')  }">
									<p>Wymagane</p>
								</div>
								<p th:each="err : ${#fields.errors('city')}" th:text="${err}"><p/>
							</div>
						</div>
					</div>
					
					<!-- Dzielnica -->
					<div class="form-group row">
						<label for="inputDistrict" class="col-sm-2 col-form-label">Dzielnica</label>
						<div class="col-sm-6">
							<input id="inputDistrict" type="text" th:field="*{district}" 
								placeholder="Dzielnica" class="form-control"
								th:classappend="${ #fields.hasErrors('district')} ? is-invalid : (${ not #ctx.containsVariable('validated') } ? is-valid)" />
							<div class="invalid-feedback">
								<p th:each="err : ${#fields.errors('district')}" th:text="${err}"><p/>
							</div>
						</div>
					</div>
					
					<!-- street -->
					<div class="form-group row">
						<label for="inputStreet" class="col-sm-2 col-form-label">Ulica (*)</label>
						<div class="col-sm-6">
							<input id="inputStreet" type="text" th:field="*{street}" 
								placeholder="Ulica (*)" class="form-control" required
								th:classappend="${ #fields.hasErrors('street')} ? is-invalid : (${ not #ctx.containsVariable('validated') } ? is-valid)"  />
							<div class="invalid-feedback">
								<div th:if="${ not #fields.hasErrors('street')  }">
									<p>Wymagane</p>
								</div>
								<p th:each="err : ${#fields.errors('street')}" th:text="${err}"><p/>
							</div>
						</div>
					</div>
				
					<!-- houseNumber -->
					<div class="form-group row">
						<label for="inputHouseNumber" class="col-sm-2 col-form-label">Numer domu (*)</label>
						<div class="col-sm-6">
							<input id="inputHouseNumber" type="text" th:field="*{houseNumber}" 
								placeholder="Numer domu (*)" class="form-control" required
								th:classappend="${ #fields.hasErrors('houseNumber')} ? is-invalid : (${ not #ctx.containsVariable('validated') } ? is-valid)" />
							<div class="invalid-feedback">
								<div th:if="${ not #fields.hasErrors('houseNumber')  }">
									<p>Wymagane</p>
								</div>
								<p th:each="err : ${#fields.errors('houseNumber')}" th:text="${err}"><p/>
							</div>
						</div>
					</div>
					
					<!-- apartmentNumber -->
					<div class="form-group row">
						<label for="inputApartmentNumber" class="col-sm-2 col-form-label">Numer mieszkania</label>
						<div class="col-sm-6">
							<input id="inputApartmentNumber" type="text" th:field="*{apartmentNumber}" 
								placeholder="Numer mieszkania" class="form-control"
								th:classappend="${ #fields.hasErrors('apartmentNumber')} ? is-invalid : (${ not #ctx.containsVariable('validated') } ? is-valid)" />
							<div class="invalid-feedback">
								<p th:each="err : ${#fields.errors('apartmentNumber')}" th:text="${err}"><p/>
							</div>
						</div>
					</div>
					
					<div class="form-group row">
						<!-- postCode -->
						<label for="inputPostCode" class="col-sm-2 col-form-label">Kod pocztowy (*)</label>
						<div class="col-sm-6">
							<input id="inputPostCode" type="text" th:field="*{postCode}" 
								placeholder="Kod pocztowy (*)" class="form-control" required
								th:classappend="${ #fields.hasErrors('postCode')} ? is-invalid : (${ not #ctx.containsVariable('validated') } ? is-valid)"
								pattern="^\d{2}-\d{3}$"  />
							<div class="invalid-feedback">
								<p th:if="${ not #fields.hasErrors('postCode')  }">Wymagane</p>
								<p th:each="err : ${#fields.errors('postCode')}" th:text="${err}"><p/>
							</div>
						</div>
					</div>
					
					<div class="form-group row">
						<!-- postCity -->
						<label for="inputPostCity" class="col-sm-2 col-form-label">Miejscowość (*)</label>
						<div class="col-sm-6">
							<input id="inputPostCity" type="text" th:field="*{postCity}" 
								placeholder="Miejscowość (*)" class="form-control" required
								th:classappend="${ #fields.hasErrors('postCity')} ? is-invalid : (${ not #ctx.containsVariable('validated') } ? is-valid)"  />
							<div class="invalid-feedback">
								<div th:if="${ not #fields.hasErrors('postCity')  }">
									<p>Wymagane</p>
								</div>
								<p th:each="err : ${#fields.errors('postCity')}" th:text="${err}"><p/>
							</div>
						</div>
					</div>
					
					
					<!-- phoneNumber -->
					<div class="form-group row">
						<label for="inputPhoneNumber" class="col-sm-2 col-form-label">Numer telefonu (*)</label>
						<div class="col-sm-6">
							<input id="inputPhoneNumber" type="text" th:field="*{phoneNumber}" 
								placeholder="Numer telefonu (*)" class="form-control" required
								th:classappend="${ #fields.hasErrors('phoneNumber')} ? is-invalid : (${ not #ctx.containsVariable('validated') } ? is-valid)"
								pattern="(?<!\w)(\(?(\+|00)?48\)?)?[ -]?\d{3}[ -]?\d{3}[ -]?\d{3}(?!\w)" />
							<div class="invalid-feedback">
								<div th:if="${ not #fields.hasErrors('phoneNumber')  }">
									<p>Wymagane</p>
								</div>
								<p th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}"><p/>
							</div>
						</div>
					</div>
					
					<!-- Kategorie -->
					<div id="categoriesGroup" class="form-group">
						<p id="categoryTitle">Zaznacz czym się zajmujesz (max. 4 kategorie)</p>
						<div th:each="category : ${allCategoriesMultiCheckbox}">
							<input type="checkbox" th:field="*{selectedCategoriesFromCheckboxes}" th:value="${category.id}"/>
							<label th:for="${#ids.prev('selectedCategoriesFromCheckboxes')}" th:text="${category.name}"></label>
						</div>
						<div id="categoriesNotEnoughError" class="form-label-group text-danger" style="display: none">
						  	<p>Należy wybrać co najmniej 1 kategorie</p>
						</div>
						<div id="categoriesError" class="form-label-group text-danger" style="display: none">
						  	<p>Można wybrać maksymalnie 4 kategorie</p>
						</div>
					</div>
					
					
					<div class="form-row align-items-center mb-4">
						<div class="col-auto">
							<button class="btn btn-lg btn-primary" type="submit">Zapisz</button>
						</div>
						
					</div>
					<a th:href="@{/experts}">Powrót</a>
					
				</form>
        		
        		
        		
        		
        		<div th:replace="fragments/footer :: footer"></div>
        	</main>
		
		</div>
	</div>

	<script th:src="@{/js/addExpert.js}"></script>
	
	 <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

</body>
</html>