<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>QuickFix - AdminPanel - Administratorzy</title>
	
	<!--  <div th:replace="fragments/header :: header-css"/>  -->
	<link th:include="fragments/header :: header-css" th:remove="tag"/>

	<link rel="stylesheet" type="text/css" th:href="@{/css/adminList.css}" href="../../css/adminList.css" />

</head>
<body>
	
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container-fluid">
		<div class="row">
		
		
			<div th:replace="fragments/header :: sidebar"></div>
			
			
        	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-4 col-sm-10">
        		<h1>Administratorzy</h1>
        		
        		<a class="btn btn-outline-primary btn-lg mt-2" th:href="@{/admins/add}">Dodaj administratora</a>
        		
        		 <!-- Place for messages: error, alert etc ... -->
				    <div class="form-group">
				        <div class="col-xs-15">
				            <div>
							
								<!-- Check for registration error -->
								<div th:if="${error}" class="alert alert-danger col-xs-offset-1 col-xs-10 mt-4"
									th:text=${error} >error
								</div>
								
								<div th:if="${param.addSuccess}"class="alert alert-success col-xs-offset-1 col-xs-10 mt-4">
									Administrator został dodany.
								</div>
																										
				            </div>
				        </div>
				    </div>
        		
        		<div class="table-responsive">
	        		<table class="table table-bordered table-striped mt-2">
	        			<thead class="thead-dark">
	        				<tr>
	        					<th>#</th>
	        					<th>Username</th>
	        					<th>Imię</th>
	        					<th>Nazwisko</th>
	        					<th>Email</th>
	        				</tr>
	        			</thead>
	        			<tbody>
	        				<tr th:if="${admins.empty}">
	        					<td colspan="5">Brak danych.</td>
	        				</tr>
	        				<tr th:each="admin, iStat : ${admins}">
	        					<td><span th:text="${iStat.index + 1}"></span></td>
	        					<td><span th:text="${admin.userName}"></span></td>
	        					<td><span th:text="${admin.firstName}"></span></td>
	        					<td><span th:text="${admin.lastName}"></span></td>
	        					<td><span th:text="${admin.email}"></span></td>
	        				</tr>
	        			</tbody>
	        		</table>
        		</div>
        		
        		<div th:replace="fragments/footer :: footer"></div>
        	</main>
			
		
		</div>
	</div>

	
	
	 <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

</body>
</html>